<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2 mt-3">
      <div class="col-sm-6">
        <h1 class="d-inline">Users</h1>
        <a routerLink="/associate-data/users/create"
          class="btn btn-info btn-sm btn-flat d-inline-block ml-2 mt-n2 elevation-2 text-white">Add New User</a>
      </div>

      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">
            <a href="">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="">Users</a>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="row m-2">
    <div class="col-md-12">
      <div class="card card-outline" style="border-top: 3px solid #022e5f">
        <div class="card-header">
          @if (loading()) {
          <!-- Search Form Skeleton -->
          <div class="row">
            <div class="col-md-2 col-sm-12">
              <div class="form-group">
                <div class="skeleton skeleton-label"></div>
                <div class="skeleton skeleton-input"></div>
              </div>
            </div>

            <div class="col-md-2 col-sm-12">
              <div class="form-group">
                <div class="skeleton skeleton-label"></div>
                <div class="skeleton skeleton-input"></div>
              </div>
            </div>

            <div class="col-md-1 col-sm-6" style="margin-top: 32px">
              <div class="skeleton skeleton-search-btn"></div>
            </div>

            <div class="col-md-4 col-sm-6 mt-4"></div>

            <div class="col-md-2 col-sm-6 mt-4">
              <div class="skeleton skeleton-entries"></div>
            </div>
          </div>
          } @else {
          <!-- Actual Search Form -->
          <form (ngSubmit)="getUserList()">
            <div class="row">
              <div class="col-md-2 col-sm-12">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" name="name" id="name" class="form-control form-control-sm text-sm rounded-0"
                    placeholder="Name" />
                </div>
              </div>

              <div class="col-md-2 col-sm-12">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="text" name="email" id="email" class="form-control form-control-sm text-sm rounded-0"
                    placeholder="Email" />
                </div>
              </div>

              <div class="col-md-1 col-sm-6" style="margin-top: 32px">
                <button type="submit" class="btn btn-info btn-sm btn-flat text-white">
                  Search
                </button>
              </div>

              <div class="col-md-4 col-sm-6 mt-4"></div>

              <div class="col-md-2 col-sm-6 mt-4">
                Show
                <select class="form-control-sm rounded-0" name="pageSize" (change)="currentPage = 1; getUserList()">
                  <option>10</option>
                  <option>25</option>
                  <option>50</option>
                  <option>100</option>
                </select>
                Entries
              </div>
            </div>
          </form>
          }
        </div>



        <div class="card-body" style="overflow-x: auto">
          @if (loading()) {

          <!-- Skeleton Loader -->
          <table class="table table-bordered table-striped table-sm shadow">
            <thead>
              <tr>
                <th class="bg-info"># SL No.</th>
                <th class="bg-info">User Name</th>
                <th class="bg-info">Email</th>
                <th class="bg-info">User Type</th>
                <th class="bg-info">Status</th>
                <th class="bg-info">Action</th>
              </tr>
            </thead>

            <tbody> @for (item of [1, 2, 3, 4, 5]; track item) { <tr class="skeleton-row">
                <td>
                  <div class="skeleton skeleton-number"></div>
                </td>
                <td>
                  <div class="skeleton skeleton-name"></div>
                </td>
                <td>
                  <div class="skeleton skeleton-email"></div>
                </td>
                <td>
                  <div class="skeleton skeleton-role"></div>
                </td>
                <td>
                  <div class="skeleton skeleton-status"></div>
                </td>
                <td>
                  <div class="skeleton skeleton-action"></div>
                </td>
              </tr> } </tbody>
          </table>



          <div class="pagination-skeleton">

            <div class="skeleton skeleton-pagination-info"></div>

            <div class="pagination-skeleton-buttons">

              <!-- Previous -->
              <div class="skeleton skeleton-page-btn-wide"></div>

              <!-- Pages -->
              <div class="skeleton skeleton-page-btn"></div>
              <div class="skeleton skeleton-page-btn"></div>
              <div class="skeleton skeleton-page-btn"></div>
              <div class="skeleton skeleton-page-btn"></div>
              <div class="skeleton skeleton-page-btn"></div>

              <!-- Dots -->
              <div class="skeleton skeleton-page-btn"></div>

              <!-- Last -->
              <div class="skeleton skeleton-page-btn"></div>

              <!-- Next -->
              <div class="skeleton skeleton-page-btn-wide"></div>

            </div>

          </div>

          } @else {


          <table id="tabUserListView" class="table table-bordered table-striped table-sm shadow"
            style="text-align: center">
            <thead>
              <tr>
                <th class="bg-info"># SL No.</th>
                <th class="bg-info">User Name</th>
                <th class="bg-info">Email</th>
                <th class="bg-info">User Type</th>

                <th class="bg-info text-center">Status</th>
                <th class="bg-info text-center">Action</th>
              </tr>
            </thead>


            <tbody>
              @for (user of allUsers(); track user.id; let i = $index) {
              <tr>
                <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td class="text-center">
                  <button type="button" class="btn btn-success btn-xs btn-flat">{{user.status}}</button>
                </td>
                <td class="text-center">
                  <button class="btn btn-info btn-xs btn-flat text-white">
                    Edit
                  </button>
                </td>
              </tr>
              }

              @if (allUsers().length === 0) {
              <tr>
                <td colspan="6" class="text-center">No users found</td>
              </tr>
              }
            </tbody>



            <tfoot></tfoot>
          </table>

          <app-pagination [currentPage]="currentPage" [totalItems]="totalData" [pageSize]="pageSize"
            (pageChange)="loadData($event)">
          </app-pagination>
          }


        </div>
      </div>
    </div>
  </div>
</section>
